/* CategoryPage.css */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  /* Fonts */
  --font-default: "EB Garamond", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "EB Garamond", serif; /*'Playfair Display', serif;*/
  --font-secondary: "Inter", sans-serif;
  /* Colors */
  /* The *-rgb color names are simply the RGB converted value of the corresponding color for use in the rgba() function */
  /* Default text color */
  --color-default: #212529;
  --color-default-rgb: 33, 37, 41;
  /* Defult links color */
  --color-links: #212529;
  --color-links-hover: #15171a;
  /* Primay colors */
  --color-primary: #212529;
  --color-primary-light: #26282c;
  --color-primary-dark: #0b0c0e;
  --color-primary-rgb: 33, 37, 41;
  --color-primary-light-rgb: 38, 40, 44;
  --color-primary-dark-rgb: 11, 12, 14;
  /* Secondary colors */
  --color-secondary: #596d80;
  --color-secondary-light: #8498aa;
  --color-secondary-dark: #404f5c;
  --color-secondary-rgb: 89, 109, 128;
  --color-secondary-light-rgb: 132, 152, 170;
  --color-secondary-dark-rgb: 64, 79, 92;
  /* General colors */
  --color-blue: #0d6efd;
  --color-blue-rgb: 13, 110, 253;
  --color-indigo: #6610f2;
  --color-indigo-rgb: 102, 16, 242;
  --color-purple: #6f42c1;
  --color-purple-rgb: 111, 66, 193;
  --color-pink: #f3268c;
  --color-pink-rgb: 243, 38, 140;
  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;
  --color-orange: #fd7e14;
  --color-orange-rgb: 253, 126, 20;
  --color-yellow: #ffc107;
  --color-yellow-rgb: 255, 193, 7;
  --color-green: #059652;
  --color-green-rgb: 5, 150, 82;
  --color-teal: #20c997;
  --color-teal-rgb: 32, 201, 151;
  --color-cyan: #0dcaf0;
  --color-cyan-rgb: 13, 202, 240;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
}

.CategoryPage {
  max-width: 800px;
  margin: 0 auto;
}
.toping > h2 {
  color: #ffff;
  font-weight: 600;
}
.toping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addcomponentbutton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 1.5rem;
}
.addcomponentbutton:active {
  background-color: #fff;
  color: #000000;
}
.CategoryList {
  margin-top: 5%;
  list-style: none;
  padding: 0;
}

.CategoryItem {
  background-color: #ffff;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  padding: 5%;
}

.LoadingMessage {
  font-style: italic;
  color: #888;
}
.theDetails {
  width: 50%;
}
.description {
  width: 50%;
}
#detail {
  margin-bottom: 3%;
}
.container {
  position: absolute;
  width: 50%;
  top: 20%;
  bottom: 20%;
  right: 30%;
  left: 30%;
  background-color: #ffff;
  color: black;
  overflow-y: overlay;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 1.2rem;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.submitbutton {
  background-color: #8498aa;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 1.5rem;
}
.submitbutton:hover {
  background-color: #059652;
}
form {
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #555;
}
.loading-container {
  position: absolute;
  top: 1%;
  left: 55%;
}
